{% extends 'base.html' %}
{% block content %}

<div class="personal_center">
    <div class="body-h1">
        <h1>Личный кабинет</h1>
    </div>

    <form class="personal-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить график</button>
    </form>

    <div class="body-h1">
        <h2>Ваши графики</h2>
    </div>

    <div class="one-colomn">
       {% for graph in graphs %}
        <div class="column">
            <p>x = {{ graph.x_value }}</p>
            <img src="data:image/png;base64,{{ graph.plot_data }}" alt="Graph">
            <div class="a-card">
                <a href="{% url 'delete_personal_graph' graph.id %}">Удалить</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}